@font-face {
	font-family: 'HindSiliguriSB';
	src: url('../Aset/font/Hind_Siliguri/HindSiliguri-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'HindSiliguriR';
    src: url('../Aset/font/Hind_Siliguri/HindSiliguri-Regular.woff') format('woff');
}

@font-face {
    font-family: 'HindSiliguriB';
    src: url('../Aset/font/Hind_Siliguri/HindSiliguri-Bold.woff') format('woff');
}

@font-face {
    font-family: 'DancingScriptB';
    src: url('../Aset/font/Dancing_Script/DancingScript-Bold.woff') format('woff');
}

* {
	font-family: 'HindSiliguriR', sans-serif;
}

.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 65rcap;
  background-size: cover;
}

.dashboard input{
  margin-bottom: 10%;
}

.h-1000{
  background-color: #ADE8F4;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-input {
  width: 320px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.logo {
  margin-right: 20px;
}

.logo img {
  height: 50px; /* Sesuaikan dengan ukuran logo Anda */
  width: auto;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.0); /* Transparent background */
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 460px;
  margin-left: 88px ;
}

.carousel {
  width: 100%;
  height: 400px;
  background-color: #e0e0e0;
  position: relative;
  margin-bottom: 20px;
}

.gambar-search{
  max-width: 200px;
  margin-left: 230px;
}

.carousel-item {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  background-size: cover;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 35%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.carousel-indicators span {
  width: 10px;
  height: 10px;
  background-color: #888;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.carousel-indicators .active {
  background-color: #333;
}

.parawisata-content{
  max-height: 890px;
  align-content: center;
  margin: 12px;
  padding: 6px;
  background-color: #d3d3d3;
  border-radius: 24px;
  align-items: center;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.container-2{
  padding: 12px;
  margin: 12px;
}

.kartu{
  max-width: 160px;
}

.kartu-2{
  max-height: 230px;
  max-width: 160px;
}


.container-transparan {
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 40px;
  margin: 5% auto;
  width: 96%;
  justify-content: center;
  border-radius: 36px;
  background: #ADE8F4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  border: none;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;
  height: 250px; /* Fixed height for uniformity */
  object-fit: cover; /* Ensures the image covers the entire area */
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}

.card-body {
  padding: 20px;
  border-radius: 22px;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #333;
}

.card-text {
  font-family: 'Roboto', sans-serif;
  color: #555;
}

.hr-kawaii {
  width: 80%; /* Atur panjang sesuai keinginanmu */
  border: 2px solid #ffffff; /* Warna pink yang kawaii */
  margin: 20px auto; /* Biar berada di tengah */
}

.clickable-text {
  cursor: pointer; /* Change cursor to pointer (clickable hand) */
}

button.navbar-toggler {
	border: none;
}

button.navbar-toggler:focus {
	box-shadow: none;
}

button.navbar-toggler i {
	color: white;
}

.navbar {
	box-shadow: 0 0 10px 0 rgba(162, 162, 162, 0.526);
	position: absolute; 
  align-content: center;
  align-items: center;
  left: 15px;
	top: 15px;
	z-index: 1000;
	margin: 0 auto;
	width: 98%;
	padding: 14px 10px;
	border-radius: 8px;
	background-color: #46c3dc;
}

.container-fluid .navbar-brand {
	color: white;
}

.carousel-inner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carousel-caption {
    display: none;
  }
}

.container-fluid a {
	border-radius: 20px;
	margin-right: 0;
	transition: 1s;
}

.container-fluid a:hover {
	color: black;
	animation: buttonNav 1s both;
	margin-right: 10px;
}

.container-fluid .navbar-brand p {
	font-family: 'DancingScriptB', 'sans-serif';
	margin: auto 10px;
}

.collapse .sukasukasaya {
	display: flex;
}

.container-fluid .collapse .foto-profile {
	display: flex;
	width: 40px;
	height: 40px;
	background-color: #5c5c5d;
	border-radius: 20px;
	margin-left: 10px;
}

.foto-profile i {
	font-size: 22px;
	margin: auto;
	border-radius: 20px;
	color: #b6b6b6;
}

@keyframes buttonNav {
	from {
		background-color: #EAF4F4;
		border-radius: 20px;
	}

	to {
		background-color: #EAF4F4;
		border-radius: 20px;
	}
}

@media (max-width: 992px){
	/* .container-fluid .collapse .foto-profile {
		margin-left: 10px;
	} */

	.container-fluid a {
		padding: 8px;
	}
}

.image {
  position: absolute;
  left: 50%;
}

.image1 {
  width: 480px;
  height: 320px;
  background-image: url(../Aset/img/pexels-jefriwibawa-1387037.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  box-shadow: -10px 10px 15px 0 rgb(122, 122, 122);
  border-radius: 10px ;
  top: -120;
  left: -80;
  z-index: 1;
}

.image2 {
  width: 480px;
  height: 320px;
  background-image: url(../Aset/img/Pulau-Saumlaki-Credit-IDN-Times.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  box-shadow: -10px 10px 15px 0 rgb(122, 122, 122);
  border-radius: 10px ;
  top: -200px;
  left: 220px;
  z-index: 2;
}

.image3 {
  width: 480px;
  height: 320px;
  background-image: url(../Aset/img/pexels-sanmane-1365425.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  box-shadow: -10px 10px 15px 0 rgb(122, 122, 122);
  border-radius: 10px ;
  top: -20px;
  left: 75px;
  z-index: 3;
}

.tentang-web{
  align-content: space-between;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 46px;
}

.about{
  display: flex;
  width: 100%;
}

.kiri, .kanan {
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .kiri, .kanan {
    width: 50%;
  }
}
  
.box {
  background-color: #ADE8F4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 520px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 50px 30px -7px;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 0;
}

.box.left {
  transform: translateX(-100%);
}

.box.right {
  transform: translateX(100%);
}

.box.show {
  transform: translateX(0);
  opacity: 1;
}
h2{
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-section{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1 rem 0;
  background-color: #ADE8F4;
}

.footer-section h2{
  margin-bottom: 1rem;
  position: relative;
}

.footer-section h2::after{
  content: '';
  width: 4rem;
  height: .2rem;
  background: #e65b00;
  position: absolute;
  top: 2.5rem;
  left: 0;
}

.footer-section p{
  transition: all .2s linear;
  margin-bottom: .6rem;
}

a{
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer-section p:hover{
  transition: all .2s linear;
  transform: translateX(4px);
}

.footer-section a:hover{
  color: #acacac;
}

.footer-item{
  margin: 1rem;
}

.footer-item ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.footer-item li{
  margin-right: 1rem;
}

.social ul li{
  font-size: 1.2rem;
  cursor: pointer;
  transition: all .2s linear;
}

.social ul il:hover{
  color: #e65b00;
  transform: scale(1.1);
  transition: all .2s linear;
}

@media screen and (max-width: 230px) {
  .footer-section{
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
  }
}