@font-face {
    font-family: 'HindSiliguriSB';
    src: url('../Aset/font/Hind_Siliguri/HindSiliguri-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'HindSiliguriR';
    src: url('../Aset/font/Hind_Siliguri/HindSiliguri-Regular.woff') format('woff');
}

@font-face {
    font-family: 'HindSiliguriB';
    src: url('../Aset/font/Hind_Siliguri/HindSiliguri-Bold.woff') format('woff');
}

@font-face {
    font-family: 'DancingScriptB';
    src: url('../Aset/font/Dancing_Script/DancingScript-Bold.woff') format('woff');
}

body {
    background-image: linear-gradient(#023d8a42, rgba(152, 152, 152, 0.563), #023d8a42), url("../Aset/img/aset2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

* {
    font-family: 'HindSiliguriR', 'sans-serif';
}

.content {
    display: flex;
    height: 100vh;
}

.kiri-layar {
    /* background-image: linear-gradient(#023d8a42, rgba(152, 152, 152, 0.563), #023d8a42), url("../Aset/img/aset2.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.kiri-layar .head {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 300px 0;
}

.head .font p {
    font-family: 'DancingScriptB', 'serif';
    font-weight: 500;
    font-size: 70px;
    color: white;
    text-shadow: 0 0 20px #454545c1;
}

.kanan-layar {
    width: 50%;
    padding: 28px;
    background-color: transparent;
}

.kanan-layar .btn-click .tab-vendor1 {
    color: #192637; 
    margin-right: 5px;
    background-color: rgb(205, 226, 251); 
    border-radius: 25px; 
    border: 2px solid rgb(0, 119, 255);
    transition: 0.5s;
}

.kanan-layar .btn-click .tab-vendor {
    color: #192637; 
    background-color: rgb(205, 226, 251); 
    width: 110px;
    border: 2px solid rgb(0, 119, 255);
    border-radius: 25px; 
    transition: 0.5s;
}

.active-wisatawan {
    background-color: rgb(0, 119, 255) !important;
    color: white !important;
    border-radius: 30px;
    border: none;
}

.active-vendor {
    background-color: rgb(0, 119, 255) !important;
    color: white !important;
    border-radius: 30px;
    border: none;
}

.kanan-layar .bg-wisatawan {
    color: white;
    padding: 25px;
    transition: 1s;
    background: rgba(255, 255, 255, 0.2); /* semi-transparent white */
    backdrop-filter: blur(8px); /* blur effect */
    border-radius: 8px;
}

.kanan-layar .bg-vendor {
    color: white;
    padding: 25px;
    transition: 1s;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 8px;
}

.right-box p.h4 {
    margin-bottom: 20px;
    font-family: 'HindSiliguriSB', 'sans-serif';
}

.acc-mt-10 {
    margin-top: 10px;
}

.right-box p.h6 {
    margin: 20px 0 0;
    font-family: 'HindSiliguriB', 'sans-serif';
}

label span {
    color: rgb(255, 136, 0);
}

button.btn {
    padding: 8px;
    width: 100%;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #4fc1ff;
    color: azure;
    border: none;
    transition: 0.5s;
}

button.btn:hover {
    background-color: #80d9ff;
    transform: scale(1.03);
    color: azure;
    border: none;
}

button.btn:active {
    background-color: #0097e3 !important;
    border: none;
    color: white !important;
}

@media(max-width: 992px) {
    .kiri-layar {
        display: none;
    }

    .kanan-layar {
        width: 100%;
    }
}

/* Style tab links */

.btn-click {
    margin-left: 20px;
}

.tablink {
    background-color: transparent;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px;
    font-size: 17px;
}

.tablink:hover {
    background-color: #777;
}

.tab-vendor {
    padding: 13px;
    margin-bottom: 0;
}

.tab-vendor1 {
    padding: 13px;
    margin-bottom: 0;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: none;
    padding: 60px 20px;
    height: 100%;
}