@font-face {
	font-family: 'HindSiliguriSB';
	src: url('../Aset/font/Hind_Siliguri/HindSiliguri-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'HindSiliguriR';
    src: url('../Aset/font/Hind_Siliguri/HindSiliguri-Regular.woff') format('woff');
}

@font-face {
    font-family: 'HindSiliguriB';
    src: url('../Aset/font/Hind_Siliguri/HindSiliguri-Bold.woff') format('woff');
}

@font-face {
    font-family: 'DancingScriptB';
    src: url('../Aset/font/Dancing_Script/DancingScript-Bold.woff') format('woff');
}

* {
    font-family: 'HindSiliguriR', 'sans-serif';
}

.content {
    display: flex;
    height: 100vh;
}

.kiri-layar {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../Aset/img/bg-wisatawan.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.kiri-layar .head {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25% 0;
}

.head .font p {
    font-family: 'DancingScriptB', 'serif';
    font-weight: 500;
    font-size: 70px;
}

.kanan-layar {
    width: 40%;
    padding: 20px;
    margin: 0;
}

.right-box p.h4 {
    margin-bottom: 20px;
    font-family: 'HindSiliguriSB', 'sans-serif';
}

.acc-mt-10 {
    margin-top: 10px;
}

.right-box p.h6 {
    margin: 20px 0 0;
    font-family: 'HindSiliguriB', 'sans-serif';
}

label span {
    color: rgb(255, 136, 0);
}

button.btn {
    padding: 8px;
    width: 100%;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #4fc1ff;
    color:azure;
    border: none;
    transition: 0.5s;
}

button.btn:hover {
    background-color: #80d9ff;
    transform: scale(1.03);
    color:azure;
    border: none;
}

button.btn:active {
    background-color: #0097e3 !important;
    border: none;
    color: white !important;
}

@media(max-width: 992px) {
    .kiri-layar {
        display: none;
    }

    .kanan-layar {
        width: 100%;
    }
}
  
  /* Style tab links */

  .btn-vendor {
    margin-left: 20px;
  }

  .tablink {
    background-color: transparent;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px;
    font-size: 17px;
  }
  
  .tablink:hover {
    background-color: #777;
  }

  .tab-vendor {
    padding: 13px;
    margin-bottom: 0;
  }

  .tab-vendor1 {
    padding: 13px;
    margin-bottom: 0;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    display: none;
    padding: 60px 20px;
    height: 100%;
  }

.active-wisatawan {
    background-color: rgb(0, 119, 255) !important;
    color: white !important;
    border-radius: 30px;
}

.active-vendor {
    background-color: rgb(78, 231, 75) !important;
    color: white !important;
    border-radius: 30px;
}

  