@font-face {
    font-family: 'HindSiliguriSB';
    src: url('Aset/font/Hind_Siliguri/HindSiliguri-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'HindSiliguriR';
    src: url('Aset/font/Hind_Siliguri/HindSiliguri-Regular.woff') format('woff');
}

@font-face {
    font-family: 'HindSiliguriB';
    src: url('Aset/font/Hind_Siliguri/HindSiliguri-Bold.woff');
}

@font-face {
    font-family: 'DancingScriptB';
    src: url('Aset/font/Dancing_Script/DancingScript-Bold.woff') format('woff');
}

body {
    background-image: linear-gradient(#023d8a42,#023d8a42), url(Aset/img/aset7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(2px);
}

p.title {
    font-size: 40px;
    font-family: 'DancingScriptB', sans-serif;
    color: white;
    margin: auto 20px;
}

.out-layer {
    width: 80%;
    background-color: rgba(250, 250, 250, .6);
    padding: 30px;
    margin: 2% auto 4%;
    border-radius: 15px;
}

.out-layer table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: black;
    border-radius: 8px;
}

.out-layer table thead {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: white;
    border-bottom: 2px solid black;
}

.out-layer thead tr th {
    padding: 15px;
}

.out-layer tbody tr td {
    padding: 15px;
    background-color: white;
}

td button i {
    margin-right: 7px;
}

.out-layer thead th:first-child {
    border-top-left-radius: 10px;
}

.out-layer thead th:last-child {
    border-top-right-radius: 10px;
}

.out-layer tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.out-layer tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.logout-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}  

#infoForm {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1000;
    width: 90%;
    max-width: 500px;
    font-family: 'HindSiliguriR', sans-serif;
}

#infoForm h4 {
    font-family: 'HindSiliguriSB', sans-serif;
    margin-bottom: 20px;
}

#infoForm button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

#infoForm button:hover {
    background-color: #0056b3;
}
